<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-md-column h-100">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav flex-md-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Página 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#submenu1">Página 2</a>
        <div class="collapse" id="submenu1">
          <ul class="navbar-nav flex-md-column">
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="bi bi-chevron-right me-1"></span> Subpágina 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="bi bi-chevron-right me-1"></span> Subpágina 2</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Página 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Página 4</a>
      </li>
    </ul>
  </div>
</nav>
